.main__header {
	height: auto;
}
.logo__ctn {
	max-width: 200px;
}
.my__logo {
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.is-transparent {
	background-color: transparent;
}
.navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
}
.navigation a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	border: 2px solid transparent;
	padding: 10px;
	margin: 5px;
	border-radius: 2em;
	transition: 0.35s ease-in-out;
}
.navigation a:hover {
	border: 2px solid;
}
.nav__links {
	display: flex;
	align-items: center;
}
