.main__header {
	height: 100px;
}
.is-transparent {
	background-color: transparent;
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 90%;
}
.navigation a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	border: 2px solid transparent;
	padding: 10px;
	margin: 5px;
	border-radius: 2em;
	transition: 0.35s ease-in-out;
}
.navigation a:hover {
	border: 2px solid;
}
