@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.my__logo {
	max-width: 150px;
}
a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	border: 2px solid transparent;
	padding: 8px;
	border-radius: 4px;
	transition: 0.35s ease-in-out;
}
a:hover {
	border: 2px solid;
}
a:link,
a:visited,
a:active {
	color: #0091ea;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
