@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.my__logo {
	max-width: 150px;
}
a {
	text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #0091ea;
}
