.projects__header {
	padding: 20px;
	margin: 20px;
}
.projects__header h2 {
	margin: 10px;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 1pt;
}
.projects__header p {
	font-size: 20px;
}
.projects {
	padding: 30px;
	margin: auto;
}
.projects__ctn {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}
.project {
	max-width: 100%;
	padding: 20px;
}
.project__img {
	max-width: 100%;
	height: auto;
}
.project__info {
	text-align: left;
}
.project__info h3 {
	font-weight: 600;
	color: #0064b7;
}
.project__info h4 {
	font-weight: 600;
}
.project__links {
	list-style-type: none;
	padding: 0;
}
.project__link__credentials {
	margin-top: 5px;
}
.project__link__credentials p {
	margin: 0;
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(100, 193, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1024px) {
	.projects__ctn {
		max-width: 100%;
		display: flex;
		flex-direction: row;
	}
}
